.new-expense__controls {
    display: flex;
    align-items: center;
}

.new-expense__controls input, .new-expense__controls button {
    height: 44px;
    margin: 0 10px;
}

/*.new-expense__control label {*/
/*    font-weight: bold;*/
/*    display: block;*/
/*    margin-bottom: 0.2rem;*/
/*}*/

/*.new-expense__actions {*/
/*    text-align: left;*/
/*}*/