.new-expense {
    display: flex;
    justify-content: center;
    width: 780px;
    margin: 2rem auto;
    padding: 1.4rem;
    text-align: center;
    border-radius: 12px;
    background-color: #dcdcdc;
}

.new-expense__control__title input {
    width: 180px;
    border-radius: 4px;
}

.new-expense__control__amount input {
    width: 110px;
    border-radius: 4px;
}

.new-expense__control__date input {
    width: 135px;
    border-radius: 4px;
}

.new-expense__controls input {
    padding: 5px;
    border: none;
}

.new-expense button {
    padding: 10px 20px;
    border: none;
}

/*.new-expense button:hover,*/
/*.new-expense button:active {*/
/*    background-color: #510674;*/
/*    border-color: #510674;*/
/*}*/

/*.new-expense button.alternative {*/
/*    color: #220131;*/
/*    border-color: transparent;*/
/*    background-color: transparent;*/
/*}*/

/*.new-expense button.alternative:hover,*/
/*.new-expense button.alternative:active {*/
/*    background-color: #ddb3f8;*/
/*}*/

@media (max-width: 768px) {
    .new-expense {
        width: 300px;
    }

    .new-expense__controls {
        flex-direction: column;
    }

    .new-expense__controls input {
        width: 250px;
    }

    .new-expense__controls div {
        margin-bottom: 15px;
    }

    .new-expense button {
        margin-top: 15px;
    }

}