.expense-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    color: white;
    border-radius: 12px;
    background-color: #665488;
}

.expense-date__month {
    font-size: 1rem;
    /*font-weight: bold;*/
}

.expense-date__year {
    font-size: 0.75rem;
}

.expense-date__day {
    font-size: 1.7rem;
    font-weight: bold;
}
